body {
    font-family: Arial, sans-serif;
    background-color: #dd9494;
}

header {
    text-align: center;
    background-color: #6d3d3d;
    color: #fff;
    padding: 20px;
    border-radius: 80px;
}
.about, .education, .skills, .projects, .contact {
    margin: 20px;
    padding: 20px;
    background-color: #e77171;
    border: 1px solid #6d3d3d;
    border-radius: 100px;
}

ul {
    color: #010718;
    list-style: disc;
    padding-left: 20px;
}
li { 
    color: #010718;
    list-style: disc;
    padding-left: 20px;
}
p {
    color: #010718;
    list-style: disc;
    padding-left: 20px;
}


footer {
    text-align: center;
    background-color: #6d3d3d;
    color: #fff;
    padding: 10px;
    border-radius: 80px;
}

/* Add more styling as needed */
